*.o
*.elev
www/data/
data/igc/*
data/gfs/
tiler/_cache/
tiler/Tiler/.qmake.stash
tiler/Tiler/Makefile
tiler/Tiler/Tiler
.DS_Store
__pycache__
neural_network/bin/data
neural_network/bin/data_test/
neural_network/bin/models/TEST_*/
neural_network/test_train.py
scripts/xc_score/tracks/
scripts/xc_score/__pycache__/
CLAUDE.md
.vscode/*
paraglidable.session.sql
